.container.narrow { max-width: 750px }

ul, ol, dl {
  padding-left: 40px;
}
ul li {
  margin-bottom: 10px;
}

// See tactile.css for initial styling
@fixed-width-fonts {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", Courier, monospace;
}
code {
  @fixed-width-fonts;
  margin-bottom: 0px;
}
pre {
  @fixed-width-fonts;
}
.exe-out {
  @fixed-width-fonts;
}
.humanity_check {
	display:none;
}
